Learning Support Assistant o.json
{
  "name": "Learning Support Assistant o",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -224,
        416
      ],
      "id": "24da0cac-04e2-4320-bcd2-72586bb0d95c",
      "name": "When chat message received",
      "webhookId": "7110f3ac-91f1-44b8-a9dc-bdd6839fac5e"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are an academic learning assistant classifier.\n\nAnalyze the student's question and STRICTLY return only these things:\n\n1. subject\n2. topic\n3. underlying concept\n4. difficulty level\n5. intent\n6. question\n\nDifficulty:\nbasic / intermediate / advanced\n\nIntent:\nconcept_learning\nexam_question\n\n- if chatinput is just a single word or name of concept pass that as question. Do not  make it up on your own.\nRETURN ONLY JSON IN THIS FORMAT:\n{\nsubject:\ntopic:\nconcept:\ndifficulty:\nintent:\nquestion:{{ $json.chatInput }}\n}\nUse the memory to fill required fields when user asks a follow-up question"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        16,
        304
      ],
      "id": "1c6220a1-105e-44f0-b5e8-85fe41bacfb5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.intent }}{{$json.subject}}{{ $json.topic }}{{ $json.concept }}{{$json.difficulty}}\n{{ $json.question }}",
        "options": {
          "systemMessage": "=You are a friendly learning tutor.\n\nYour goal is to help students understand concepts,\nnot to give exam answers.\n\nFollow these rules:\n\n1. Explain step-by-step\n2. Avoid giving direct exam answers\n3. Encourage understanding\n4. Ask follow up questions\n\nExplain according to difficulty\n\n- Avoid overly simple analogies\n- Provide structured explanations\n\nRefer to the previous conversation history provided in context to maintain continuity.\n\nYou have access to a knowledge base .\n- Retreive relevant information from vectore \n-Use the retrieved information to generate a helpful answer.\n-If it is not helpful simply ignore answer noremally\n\nIMPORTANT:\n- Always return a final natural language explanation to the student"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        0
      ],
      "id": "75ac4bc7-12c2-4d56-9ec6-ea6355a21548",
      "name": "AI Agent1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1168,
        224
      ],
      "id": "b683ee86-810e-4c32-9d85-46e1110fa013",
      "name": "Memory",
      "credentials": {
        "postgres": {
          "id": "lZ9O688Yk1DC3nxu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        0,
        1136
      ],
      "id": "14270048-db99-47d7-ae2a-bc53918421e5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1a59n0O9G6ipScx63ZJaNt95txAedDeSE",
          "mode": "list",
          "cachedResultName": "ncict039.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1a59n0O9G6ipScx63ZJaNt95txAedDeSE/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -224,
        912
      ],
      "id": "28b3f8de-5912-48c4-ab2a-0dd3d6225113",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IbWaUXHnKXyO8CAi",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 300,
        "chunkOverlap": 30,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        80,
        1344
      ],
      "id": "56b57848-fe9a-49d5-9a31-429d8424f6dd",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1376,
        432
      ],
      "id": "2f20dee7-1239-4218-9e35-7a4428f3fefc",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "f9czedETgdKEpRkV",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        16,
        912
      ],
      "id": "598b10ac-a5e8-4c49-85f4-4edb571eb83e",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "FrjJXOzA21M6A6H7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3f60e0b1-5a35-4a8f-8f1a-c72600b160ba",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "concept_learning",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c506a108-b222-407d-afad-b35e51ca108e",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "problem_solving",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        592,
        416
      ],
      "id": "c7dffce5-f836-48fa-a79c-1f41029c2de9",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Use this knowledge base to retreive relevant data\npass the user query labeled as \"input\" and nothing but \"input\"",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 8,
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1264,
        272
      ],
      "id": "170792ed-0769-4cac-a0e9-3446d166e39c",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "FrjJXOzA21M6A6H7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.2,
          "topP": 0.4,
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        16,
        528
      ],
      "id": "8f071314-00a3-476f-a2de-d525ba4c437e",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "f9czedETgdKEpRkV",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw =$json.output;\n\n// Step 1: Remove markdown code blocks (```json ... ```)\nlet cleaned = raw\n  .replace(/```json\\s*/gi, \"\")\n  .replace(/```\\s*/g, \"\")\n  .trim();\n\n// Step 2: Remove escaped newlines if present\ncleaned = cleaned.replace(/\\\\n/g, \"\");\n\n// Step 3: Parse safely\nlet parsed;\n\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  throw new Error(\"Invalid JSON from AI:\\n\" + cleaned);\n}\n\n// Step 4: Return structured output\nreturn [\n  {\n    json: parsed\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        416
      ],
      "id": "b6b7186a-f990-48dc-b146-2743935fabb6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        144,
        528
      ],
      "id": "ef92a60c-98b3-43e4-ad5b-e5f29100bd3c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.intent }}{{$json.subject}}{{ $json.topic }}{{ $json.concept }}{{$json.difficulty}}{{ $json.question }}",
        "options": {
          "systemMessage": "=You are a friendly learning tutor.\n\nYour goal is to help students understand concepts,\nnot to give exam answers or solve homework question.\n\nFollow these rules:\n\n1. Explain step-by-step\n2. Avoid giving direct exam answers, politely decline\n3. Encourage understanding\n4. Ask follow up questions\n\n## say  \"I can help you understand the concept but I cannot directly solve it\" when asked to solve a homework or exam question, do not add this when responding to a follow up question\n\nExplain according to difficulty\n\nDifficulty:\n{{$json.difficulty}}\n\n- Avoid overly simple analogies\n- Provide structured explanations\n\nStudent Question:\n{{$json.input}}\n\nTopic:\n{{$json.topic}}\n\nConcept:\n{{$json.concept}}\n\nRefer to the previous conversation history provided in context to maintain continuity.\n\n# You have access to a knowledge base search tool.\n-Use knowledge base to retreive relevant data\n- Use retreived knowledge to generate response!\n- If no data found in tool, respond normally\n\n# Do not return tool call. Always return final response"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1184,
        608
      ],
      "id": "054b0e00-9bae-4b9e-bfce-e4072a3079fe",
      "name": "AI Agent2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1664,
        416
      ],
      "id": "0f90a676-09f1-481c-87aa-4acf6b5f5bf3",
      "name": "Merge"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano-2025-04-14"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 600,
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1072,
        304
      ],
      "id": "2d2873ff-3a53-40eb-95a3-71f28626a8f6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "K50y2tRT8EyPhP5t",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ed1f3841-eca6-4d6a-b741-14d63e6d81aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8de7b31dd84cc1f2e0bd7901a22a08f5b0168cf100093e0192677127665f2ee4"
  },
  "id": "yN3UJoXumwxCiWzS",
  "tags": []
}